body {
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    background: #00573d;
}

.rectangle {
    /* keeps everything contained */
    position: absolute;
    padding: 10px;
    height: 97vh;
    width: 710px;
    background-color: #00573d;
}

.break {
    /* breaks flex */
    margin-top: 20px;
    flex-basis: 100%;
    height: 0;
}

.letters {
    /* Custom typeface */
    margin-top: 35px;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: space-between;
}

.al1 {
    width: 0;
    height: 0;
    border-left: 23px solid transparent;
    border-right: 23px solid transparent;
    border-bottom: 40px solid #b0e5f8;
    opacity: 0.75;
}

.al2 {
    margin-top: -14px;
    margin-left: 14px;
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 14.33px solid #00573d;
    opacity: 0.99;
}

.cl1 {
    height: 40px;
    width: 35px;
    border-radius: 40px 0 0 40px;
    opacity: 0.75;
    background: #b0e5f8;
}

.cl2 {
    margin-top: -27px;
    margin-left: 18px;
    height: 14px;
    width: 17px;
    border-radius: 20px 0 0 20px;
    opacity: 0.99;
    background: #00573d;
}

.el1 {
    height: 40px;
    width: 15px;
    opacity: 0.75;
    background-color: #b0e5f8;
}

.el2 {
    margin-top: -40px;
    height: 12px;
    width: 40px;
    opacity: 0.75;
    background-color: #b0e5f8;
}

.el3 {
    margin-top: 2px;
    margin-left: 15px;
    height: 12px;
    width: 25px;
    opacity: 0.75;
    background-color: #b0e5f8;
}

.el4 {
    margin-top: 2px;
    height: 12px;
    width: 40px;
    opacity: 0.75;
    background-color: #b0e5f8;
}

.fl {
    margin-right: 5px;
}

.fl1 {
    height: 40px;
    width: 15px;
    opacity: 0.7;
    background-color: #b0e5f8;
}

.fl2 {
    margin-top: -40px;
    height: 12px;
    width: 40px;
    opacity: 0.7;
    background-color: #b0e5f8;
}

.fl3 {
    margin-top: 2px;
    margin-left: 14.9px;
    height: 12px;
    width: 25px;
    opacity: 0.7;
    background-color: #b0e5f8;
}

.hl1 {
    height: 40px;
    width: 15px;
    opacity: 0.75;
    background-color: #b0e5f8;
}

.hl2 {
    margin-top: -40px;
    margin-left: 25px;
    height: 40px;
    width: 15px;
    opacity: 0.7;
    background-color: #b0e5f8;
}

.hl3 {
    margin-top: -27.50px;
    height: 15px;
    width: 40px;
    opacity: 0.7;
    background-color: #b0e5f8;
}

.il1 {
    margin-right: 5px;
    height: 40px;
    width: 15px;
    opacity: 0.7;
    background-color: #b0e5f8;
}

.ml {
    color: #b0e5f8;
}

.ml1 {
    width: 0;
    height: 0;
    border-left: 40px solid;
    border-top: 40px solid transparent;
    border-bottom: 0px solid transparent;
    opacity: 0.7;
}

.ml2 {
    margin-top: -40px;
    width: 0;
    height: 0;
    border-right: 40px solid;
    border-top: 40px solid transparent;
    border-bottom: 0px solid transparent;
    opacity: 0.7;
}

.nl1 {
    width: 0;
    height: 0;
    border-left: 40px solid #b0e5f8;
    border-top: 40px solid transparent;
    border-bottom: 0px solid transparent;
    opacity: 0.7;
}

.nl2 {
    margin-top: -40px;
    margin-left: 25px;
    height: 40px;
    width: 15px;
    opacity: 0.7;
    background-color: #b0e5f8;
}

.ol1 {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    opacity: 0.75;
    background: #b0e5f8;
}

.ol2 {
    margin-top: -27.5px;
    margin-left: 12.5px;
    height: 15px;
    width: 15px;
    border-radius: 15px;
    opacity: 0.99;
    background: ;
}

.rl1 {
    height: 28px;
    width: 40px;
    border-radius: 0 28px 28px 0;
    opacity: 0.75;
    background: #b0e5f8;
}

.rl2 {
    margin-top: -8px;
    width: 0;
    height: 0;
    border-left: 40px solid #b0e5f8;
    border-top: 20px solid transparent;
    border-bottom: 0px solid transparent;
    opacity: 0.7;
}

.rl3 {
    margin-top: -30px;
    margin-left: 13px;
    height: 9px;
    width: 14px;
    border-radius: 0 9px 9px 0;
    opacity: 0.99;
    background: ;
}

.sl {
    transform: rotate(40deg);
}

.sl1 {
    height: 35px;
    width: 20px;
    border-radius: 35px 0 0 35px;
    opacity: 0.75;
    background: #b0e5f8;
}

.sl2 {
    margin-top: -29px;
    margin-left: 18px;
    height: 35px;
    width: 20px;
    border-radius: 0 35px 35px 0;
    opacity: 0.75;
    background: #b0e5f8;
}

.tl {
    margin-left: 10px;
}

.tl1 {
    height: 40px;
    width: 15px;
    opacity: 0.7;
    background-color: #b0e5f8;
}

.tl2 {
    margin-top: -40px;
    margin-left: -12.9px;
    height: 15px;
    width: 40px;
    opacity: 0.7;
    background-color: #b0e5f8;
}

.vl1 {
    width: 0;
    height: 0;
    border-left: 23px solid transparent;
    border-right: 23px solid transparent;
    border-top: 40px solid #b0e5f8;
    opacity: 0.75;
}

.vl2 {
    margin-top: -40px;
    margin-left: 14px;
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 14.33px solid #00573d;
    opacity: 0.99;
}

.wl {
    color: #ade0f3;
}

.wl1 {
    margin-left: -12px;
    width: 0;
    height: 0;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-top: 40px solid;
    opacity: 0.7;
}

.wl2 {
    margin-top: -40px;
    margin-left: 10px;
    width: 0;
    height: 0;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-top: 40px solid;
    opacity: 0.7;
}

.qm1 {
    /* question mark */
    height: 27px;
    width: 15px;
    opacity: 0.7;
    background-color: #b0e5f8;
}

.qm2 {
    margin-top: -27px;
    height: 15px;
    width: 40px;
    border-radius: 0 15px 15px 0;
    opacity: 0.75;
    background: #b0e5f8;
}

.qm3 {
    margin-top: -10px;
    height: 5px;
    width: 20px;
    border-radius: 0 15px 15px 0;
    opacity: 0.99;
    background: #00573d;
}

.qm4 {
    margin-top: 21px;
    margin-left: 2px;
    height: 10px;
    width: 10px;
    border-radius: 10px;
    opacity: 0.7;
    background: #b0e5f8;
}

h1 {
    text-align: center;
    font-family: 'Crimson Text', 'Times New Roman', Times, serif;
    font-size: 12px;
    font-weight: 100;
    color: white;
}

h2 {
    /* people */
    margin-bottom: 25px;
    font-family: 'Open Sans', Calibri, sans-serif;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: #fff4b3;
}

h3 {
    /* date and address */
    font-family: 'Open Sans', Calibri, sans-serif;
    font-size: 12px;
    font-weight: 100;
    letter-spacing: 0.03em;
    color: white;
}

h4 {
    /* subheadings */
    margin-top: 3px;
    font-family: 'Open Sans', Calibri, sans-serif;
    font-size: 13px;
    letter-spacing: 0.03em;
    color: #fff4b3;
}

a {
    /* hyperlink */
    font-size: 12px;
    font-weight: bold;
    font-family: 'Crimson Text', 'Times New Roman', Times, serif;
    color: white;
}

p {
    /* text */
    font-size: 13px;
    font-family: 'Crimson Text', 'Times New Roman', Times, serif;
    color: white;
}